@{
    ViewData["Title"] = "Error Page";
}

<h2>@ViewData["Title"]</h2>

@*Will display error based on the Model State*@
@if (ViewData.ModelState.ContainsKey("url") && ViewData.ModelState["url"].Errors.Count > 0)
{
    <div class="validation-summary-errors text-danger">
        @foreach (var error in ViewData.ModelState["url"].Errors)
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}


<a href="@Url.Action("Index", "Home", new {returnedFromErrorPage = true})" class="btn btn-secondary mt-3">Go Back to Homepage</a>